@using IceCreamShopContracts.ViewModels
@model List<WarehouseViewModel> 
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Склады</h1>
</div>
<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
        <div class="row justify-content-center">
            <p>
                <a class="col-lg-auto" asp-action="Create">Создать склад</a>
            </p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Склад
                    </th>
                    <th>
                        ФИО ответственного
                    </th>
                    <th>
                        Дата создания
                    </th>
                    <th>
                        Ингредиенты
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WarehouseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResponsiblePerson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreate)
                    </td>
                    <td>
                        @{
                            var stringIngredients = item.GetStringIngredients();
                        }
                        @Html.DisplayFor(modelItem => stringIngredients)
                    </td>
                    <td>
                        <a asp-action="Change" asp-route-warehouseId="@item.Id"
                           asp-route-warehouseName="@item.WarehouseName" responsiblePerson="@item.ResponsiblePerson">Изменить</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-warehouseId="@item.Id" >Удалить</a>
                    </td>
                    <td>
                        <a asp-action="Replenish" asp-route-warehouseId="@item.Id" >Пополнить</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>